.image {
    max-width: 100%;
    margin: .5em;
}

.globalCases {
    display: flex;
}

.cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: rgb(0, 121, 219); */
}