.bg {
	background: url('../../images/faqBg.png') no-repeat;
	background-position: center;
	background-size: 700px;
}

.heading, .title {
	text-align: center;
}

.title {
	color: rgb(118, 119, 119)
}

.faq__text {
	width: 100%;
}

.faq__collapse {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	transition: height 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq__collapse--gradient .faq__content {
	border-color: transparent;
	background: none;
	color: #747474;
	font-size: 1rem;
}

.faq__collapse--gradient:after {
	pointer-events: none;
	transition: opacity 500ms;
	will-change: opacity;
	opacity: 1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.faq__collapse--active:after {
	opacity: 0;
}

.faq__content {
	border: 1px solid transparent;
	padding: .25rem .5rem;
	margin-bottom: 1rem;
	position: relative;
	transition: 500ms;
}

.faq__toggle {
	border: 1px solid transparent;
	width: 100%;
	padding: 0 .5rem;
	display: flex;
	outline: none;
	align-items: center;
	cursor: pointer;
}

.faq__toggle--active {
	color: #4b6691;
	outline: none;
}

.faq__toggle-text {
	font-size: inherit;
	margin-right: 0.5rem;
	text-align: left;
}

.faq__button {
	border: 1px solid transparent;
	display: block;
	width: 20rem;
	max-width: 100%;
	margin: 0 auto;
	padding: .5rem;
}

.icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: .25em;
}

@media screen and (max-width: 700px) {
	.bg {
		background-size: 320px;
	}
}